body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
  background-color: #f6f4f0;
  color: #000;
}

button {
  background-color: #ffed00;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}
